<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Color</key>
		<string>#14963D</string>
		<key>ShortName</key>
		<string>EW</string>
		<key>FullName</key>
		<string>East West Line</string>
		<key>Stations</key>
		<array>
			<dict>
				<key>Lat</key>
				<real>1.335469</real>
				<key>Long</key>
				<real>103.961767</real>
				<key>StationID</key>
				<string>CG1</string>
				<key>StationName</key>
				<string>Expo</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.357372</real>
				<key>Long</key>
				<real>103.988836</real>
				<key>StationID</key>
				<string>CG2</string>
				<key>StationName</key>
				<string>Changi Airport</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.372411</real>
				<key>Long</key>
				<real>103.949369</real>
				<key>StationID</key>
				<string>EW1</string>
				<key>StationName</key>
				<string>Pasir Ris</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.352528</real>
				<key>Long</key>
				<real>103.945322</real>
				<key>StationID</key>
				<string>EW2</string>
				<key>StationName</key>
				<string>Tampines</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.343444</real>
				<key>Long</key>
				<real>103.953172</real>
				<key>StationID</key>
				<string>EW3</string>
				<key>StationName</key>
				<string>Simei</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.327358</real>
				<key>Long</key>
				<real>103.946344</real>
				<key>StationID</key>
				<string>EW4</string>
				<key>StationName</key>
				<string>Tanah Merah</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.324039</real>
				<key>Long</key>
				<real>103.930036</real>
				<key>StationID</key>
				<string>EW5</string>
				<key>StationName</key>
				<string>Bedok</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.320983</real>
				<key>Long</key>
				<real>103.912842</real>
				<key>StationID</key>
				<string>EW6</string>
				<key>StationName</key>
				<string>Kembangan</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.319725</real>
				<key>Long</key>
				<real>103.903108</real>
				<key>StationID</key>
				<string>EW7</string>
				<key>StationName</key>
				<string>Eunos</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.317767</real>
				<key>Long</key>
				<real>103.892381</real>
				<key>StationID</key>
				<string>EW8</string>
				<key>StationName</key>
				<string>Paya Lebar</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.316442</real>
				<key>Long</key>
				<real>103.882981</real>
				<key>StationID</key>
				<string>EW9</string>
				<key>StationName</key>
				<string>Aljunied</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.311469</real>
				<key>Long</key>
				<real>103.8714</real>
				<key>StationID</key>
				<string>EW10</string>
				<key>StationName</key>
				<string>Kallang</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.307167</real>
				<key>Long</key>
				<real>103.863008</real>
				<key>StationID</key>
				<string>EW11</string>
				<key>StationName</key>
				<string>Lavender</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.300194</real>
				<key>Long</key>
				<real>103.85615</real>
				<key>StationID</key>
				<string>EW12</string>
				<key>StationName</key>
				<string>Bugis</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.293239</real>
				<key>Long</key>
				<real>103.852219</real>
				<key>StationID</key>
				<string>EW13</string>
				<key>StationName</key>
				<string>City Hall</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.283881</real>
				<key>Long</key>
				<real>103.851533</real>
				<key>StationID</key>
				<string>EW14</string>
				<key>StationName</key>
				<string>Raffles Place</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.276439</real>
				<key>Long</key>
				<real>103.845711</real>
				<key>StationID</key>
				<string>EW15</string>
				<key>StationName</key>
				<string>Tanjong Pagar</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.280225</real>
				<key>Long</key>
				<real>103.839486</real>
				<key>StationID</key>
				<string>EW16</string>
				<key>StationName</key>
				<string>Outram Park</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.286081</real>
				<key>Long</key>
				<real>103.826958</real>
				<key>StationID</key>
				<string>EW17</string>
				<key>StationName</key>
				<string>Tiong Bahru</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.289733</real>
				<key>Long</key>
				<real>103.81675</real>
				<key>StationID</key>
				<string>EW18</string>
				<key>StationName</key>
				<string>Redhill</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.294442</real>
				<key>Long</key>
				<real>103.806114</real>
				<key>StationID</key>
				<string>EW19</string>
				<key>StationName</key>
				<string>Queenstown</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.302558</real>
				<key>Long</key>
				<real>103.798225</real>
				<key>StationID</key>
				<string>EW20</string>
				<key>StationName</key>
				<string>Commonwealth</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.306817</real>
				<key>Long</key>
				<real>103.790428</real>
				<key>StationID</key>
				<string>EW21</string>
				<key>StationName</key>
				<string>Buona Vista</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.311314</real>
				<key>Long</key>
				<real>103.778658</real>
				<key>StationID</key>
				<string>EW22</string>
				<key>StationName</key>
				<string>Dover</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.315303</real>
				<key>Long</key>
				<real>103.765244</real>
				<key>StationID</key>
				<string>EW23</string>
				<key>StationName</key>
				<string>Clementi</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.333415</real>
				<key>Long</key>
				<real>103.742119</real>
				<key>StationID</key>
				<string>EW24</string>
				<key>StationName</key>
				<string>Jurong East</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.342711</real>
				<key>Long</key>
				<real>103.732467</real>
				<key>StationID</key>
				<string>EW25</string>
				<key>StationName</key>
				<string>Chinese Garden</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.344589</real>
				<key>Long</key>
				<real>103.721139</real>
				<key>StationID</key>
				<string>EW26</string>
				<key>StationName</key>
				<string>Lakeside</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.338883</real>
				<key>Long</key>
				<real>103.706208</real>
				<key>StationID</key>
				<string>EW27</string>
				<key>StationName</key>
				<string>Boon Lay</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.337578</real>
				<key>Long</key>
				<real>103.697217</real>
				<key>StationID</key>
				<string>EW28</string>
				<key>StationName</key>
				<string>Pioneer</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.327739</real>
				<key>Long</key>
				<real>103.678486</real>
				<key>StationID</key>
				<string>EW29</string>
				<key>StationName</key>
				<string>Joo Koon</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Color</key>
		<string>#E20006</string>
		<key>ShortName</key>
		<string>NS</string>
		<key>FullName</key>
		<string>North South Line</string>
		<key>Stations</key>
		<array>
			<dict>
				<key>Lat</key>
				<real>1.333415</real>
				<key>Long</key>
				<real>103.742119</real>
				<key>StationID</key>
				<string>NS1</string>
				<key>StationName</key>
				<string>Jurong East</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.349073</real>
				<key>Long</key>
				<real>103.749664</real>
				<key>StationID</key>
				<string>NS2</string>
				<key>StationName</key>
				<string>Bukit Batok</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.358702</real>
				<key>Long</key>
				<real>103.751787</real>
				<key>StationID</key>
				<string>NS3</string>
				<key>StationName</key>
				<string>Bukit Gombak</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.385092</real>
				<key>Long</key>
				<real>103.744322</real>
				<key>StationID</key>
				<string>NS4</string>
				<key>StationName</key>
				<string>Choa Chu Kang</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.396986</real>
				<key>Long</key>
				<real>103.747239</real>
				<key>StationID</key>
				<string>NS5</string>
				<key>StationName</key>
				<string>Yew Tee</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.425047</real>
				<key>Long</key>
				<real>103.761853</real>
				<key>StationID</key>
				<string>NS7</string>
				<key>StationName</key>
				<string>Kranji</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.432636</real>
				<key>Long</key>
				<real>103.774283</real>
				<key>StationID</key>
				<string>NS8</string>
				<key>StationName</key>
				<string>Marsiling</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.437094</real>
				<key>Long</key>
				<real>103.786483</real>
				<key>StationID</key>
				<string>NS9</string>
				<key>StationName</key>
				<string>Woodlands</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.440689</real>
				<key>Long</key>
				<real>103.800933</real>
				<key>StationID</key>
				<string>NS10</string>
				<key>StationName</key>
				<string>Admiralty</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.449025</real>
				<key>Long</key>
				<real>103.820153</real>
				<key>StationID</key>
				<string>NS11</string>
				<key>StationName</key>
				<string>Sembawang</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.429464</real>
				<key>Long</key>
				<real>103.835239</real>
				<key>StationID</key>
				<string>NS13</string>
				<key>StationName</key>
				<string>Yishun</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.417167</real>
				<key>Long</key>
				<real>103.8329</real>
				<key>StationID</key>
				<string>NS14</string>
				<key>StationName</key>
				<string>Khatib</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.381906</real>
				<key>Long</key>
				<real>103.844817</real>
				<key>StationID</key>
				<string>NS15</string>
				<key>StationName</key>
				<string>Yio Chu Kang</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.370017</real>
				<key>Long</key>
				<real>103.84945</real>
				<key>StationID</key>
				<string>NS16</string>
				<key>StationName</key>
				<string>Ang Mo Kio</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.351236</real>
				<key>Long</key>
				<real>103.848456</real>
				<key>StationID</key>
				<string>NS17</string>
				<key>StationName</key>
				<string>Bishan</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.340339</real>
				<key>Long</key>
				<real>103.846725</real>
				<key>StationID</key>
				<string>NS18</string>
				<key>StationName</key>
				<string>Braddell</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.332703</real>
				<key>Long</key>
				<real>103.847808</real>
				<key>StationID</key>
				<string>NS19</string>
				<key>StationName</key>
				<string>Toa Payoh</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.320394</real>
				<key>Long</key>
				<real>103.843689</real>
				<key>StationID</key>
				<string>NS20</string>
				<key>StationName</key>
				<string>Novena</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.312956</real>
				<key>Long</key>
				<real>103.838442</real>
				<key>StationID</key>
				<string>NS21</string>
				<key>StationName</key>
				<string>Newton</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.304314</real>
				<key>Long</key>
				<real>103.831939</real>
				<key>StationID</key>
				<string>NS22</string>
				<key>StationName</key>
				<string>Orchard</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.300514</real>
				<key>Long</key>
				<real>103.839028</real>
				<key>StationID</key>
				<string>NS23</string>
				<key>StationName</key>
				<string>Somerset</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.299156</real>
				<key>Long</key>
				<real>103.845736</real>
				<key>StationID</key>
				<string>NS24</string>
				<key>StationName</key>
				<string>Dhoby Ghaut</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.293239</real>
				<key>Long</key>
				<real>103.852219</real>
				<key>StationID</key>
				<string>NS25</string>
				<key>StationName</key>
				<string>City Hall</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.283881</real>
				<key>Long</key>
				<real>103.851533</real>
				<key>StationID</key>
				<string>NS26</string>
				<key>StationName</key>
				<string>Raffles Place</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.276097</real>
				<key>Long</key>
				<real>103.854675</real>
				<key>StationID</key>
				<string>NS27</string>
				<key>StationName</key>
				<string>Marina Bay</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Color</key>
		<string>#900097</string>
		<key>ShortName</key>
		<string>NE</string>
		<key>FullName</key>
		<string>North East Line</string>
		<key>Stations</key>
		<array>
			<dict>
				<key>Lat</key>
				<real>1.265297</real>
				<key>Long</key>
				<real>103.82225</real>
				<key>StationID</key>
				<string>NE1</string>
				<key>StationName</key>
				<string>HarbourFront</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.280225</real>
				<key>Long</key>
				<real>103.839486</real>
				<key>StationID</key>
				<string>NE3</string>
				<key>StationName</key>
				<string>Outram Park</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.28485</real>
				<key>Long</key>
				<real>103.844006</real>
				<key>StationID</key>
				<string>NE4</string>
				<key>StationName</key>
				<string>Chinatown</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.288708</real>
				<key>Long</key>
				<real>103.846606</real>
				<key>StationID</key>
				<string>NE5</string>
				<key>StationName</key>
				<string>Clarke Quay</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.299156</real>
				<key>Long</key>
				<real>103.845736</real>
				<key>StationID</key>
				<string>NE6</string>
				<key>StationName</key>
				<string>Dhoby Ghaut</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.306725</real>
				<key>Long</key>
				<real>103.849175</real>
				<key>StationID</key>
				<string>NE7</string>
				<key>StationName</key>
				<string>Little India</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.312314</real>
				<key>Long</key>
				<real>103.854028</real>
				<key>StationID</key>
				<string>NE8</string>
				<key>StationName</key>
				<string>Farrer Park</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.319483</real>
				<key>Long</key>
				<real>103.861722</real>
				<key>StationID</key>
				<string>NE9</string>
				<key>StationName</key>
				<string>Boon Keng</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.331161</real>
				<key>Long</key>
				<real>103.869058</real>
				<key>StationID</key>
				<string>NE10</string>
				<key>StationName</key>
				<string>Potong Pasir</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.339181</real>
				<key>Long</key>
				<real>103.870744</real>
				<key>StationID</key>
				<string>NE11</string>
				<key>StationName</key>
				<string>Woodleigh</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.349944</real>
				<key>Long</key>
				<real>103.873092</real>
				<key>StationID</key>
				<string>NE12</string>
				<key>StationName</key>
				<string>Serangoon</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.360214</real>
				<key>Long</key>
				<real>103.884864</real>
				<key>StationID</key>
				<string>NE13</string>
				<key>StationName</key>
				<string>Kovan</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.371292</real>
				<key>Long</key>
				<real>103.892161</real>
				<key>StationID</key>
				<string>NE14</string>
				<key>StationName</key>
				<string>Hougang</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.382728</real>
				<key>Long</key>
				<real>103.892789</real>
				<key>StationID</key>
				<string>NE15</string>
				<key>StationName</key>
				<string>Buangkok</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.391653</real>
				<key>Long</key>
				<real>103.895133</real>
				<key>StationID</key>
				<string>NE16</string>
				<key>StationName</key>
				<string>Sengkang</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.405264</real>
				<key>Long</key>
				<real>103.902097</real>
				<key>StationID</key>
				<string>NE17</string>
				<key>StationName</key>
				<string>Punggol</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Color</key>
		<string>#D77107</string>
		<key>ShortName</key>
		<string>CC</string>
		<key>FullName</key>
		<string>Circle Line</string>
		<key>Stations</key>
		<array>
			<dict>
				<key>Lat</key>
				<real>1.282347</real>
				<key>Long</key>
				<real>103.859317</real>
				<key>StationID</key>
				<string>CE1</string>
				<key>StationName</key>
				<string>Bayfront</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.276097</real>
				<key>Long</key>
				<real>103.854675</real>
				<key>StationID</key>
				<string>CE2</string>
				<key>StationName</key>
				<string>Marina Bay</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.299156</real>
				<key>Long</key>
				<real>103.845736</real>
				<key>StationID</key>
				<string>CC1</string>
				<key>StationName</key>
				<string>Dhoby Ghaut</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.296931</real>
				<key>Long</key>
				<real>103.850631</real>
				<key>StationID</key>
				<string>CC2</string>
				<key>StationName</key>
				<string>Bras Basah</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.293436</real>
				<key>Long</key>
				<real>103.855381</real>
				<key>StationID</key>
				<string>CC3</string>
				<key>StationName</key>
				<string>Esplanade</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.293131</real>
				<key>Long</key>
				<real>103.861064</real>
				<key>StationID</key>
				<string>CC4</string>
				<key>StationName</key>
				<string>Promenade</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.299697</real>
				<key>Long</key>
				<real>103.863611</real>
				<key>StationID</key>
				<string>CC5</string>
				<key>StationName</key>
				<string>Nicoll Highway</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.302856</real>
				<key>Long</key>
				<real>103.875306</real>
				<key>StationID</key>
				<string>CC6</string>
				<key>StationName</key>
				<string>Stadium</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.306306</real>
				<key>Long</key>
				<real>103.882531</real>
				<key>StationID</key>
				<string>CC7</string>
				<key>StationName</key>
				<string>Mountbatten</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.308289</real>
				<key>Long</key>
				<real>103.888253</real>
				<key>StationID</key>
				<string>CC8</string>
				<key>StationName</key>
				<string>Dakota</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.317767</real>
				<key>Long</key>
				<real>103.892381</real>
				<key>StationID</key>
				<string>CC9</string>
				<key>StationName</key>
				<string>Paya Lebar</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.32665</real>
				<key>Long</key>
				<real>103.890019</real>
				<key>StationID</key>
				<string>CC10</string>
				<key>StationName</key>
				<string>MacPherson</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.335833</real>
				<key>Long</key>
				<real>103.887942</real>
				<key>StationID</key>
				<string>CC11</string>
				<key>StationName</key>
				<string>Tai Seng</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.342756</real>
				<key>Long</key>
				<real>103.879697</real>
				<key>StationID</key>
				<string>CC12</string>
				<key>StationName</key>
				<string>Bartley</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.349944</real>
				<key>Long</key>
				<real>103.873092</real>
				<key>StationID</key>
				<string>CC13</string>
				<key>StationName</key>
				<string>Serangoon</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.351636</real>
				<key>Long</key>
				<real>103.864064</real>
				<key>StationID</key>
				<string>CC14</string>
				<key>StationName</key>
				<string>Lorong Chuan</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.351236</real>
				<key>Long</key>
				<real>103.848456</real>
				<key>StationID</key>
				<string>CC15</string>
				<key>StationName</key>
				<string>Bishan</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.349078</real>
				<key>Long</key>
				<real>103.839492</real>
				<key>StationID</key>
				<string>CC16</string>
				<key>StationName</key>
				<string>Marymount</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.337761</real>
				<key>Long</key>
				<real>103.839447</real>
				<key>StationID</key>
				<string>CC17</string>
				<key>StationName</key>
				<string>Caldecott</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.322519</real>
				<key>Long</key>
				<real>103.815406</real>
				<key>StationID</key>
				<string>CC19</string>
				<key>StationName</key>
				<string>Botanic Gardens</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.317319</real>
				<key>Long</key>
				<real>103.807431</real>
				<key>StationID</key>
				<string>CC20</string>
				<key>StationName</key>
				<string>Farrer Road</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.312078</real>
				<key>Long</key>
				<real>103.796208</real>
				<key>StationID</key>
				<string>CC21</string>
				<key>StationName</key>
				<string>Holland Village</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.306817</real>
				<key>Long</key>
				<real>103.790428</real>
				<key>StationID</key>
				<string>CC22</string>
				<key>StationName</key>
				<string>Buona Vista</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.299331</real>
				<key>Long</key>
				<real>103.787067</real>
				<key>StationID</key>
				<string>CC23</string>
				<key>StationName</key>
				<string>one-north</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.293383</real>
				<key>Long</key>
				<real>103.784394</real>
				<key>StationID</key>
				<string>CC24</string>
				<key>StationName</key>
				<string>Kent Ridge</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.282386</real>
				<key>Long</key>
				<real>103.781867</real>
				<key>StationID</key>
				<string>CC25</string>
				<key>StationName</key>
				<string>Haw Par Villa</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.276167</real>
				<key>Long</key>
				<real>103.791358</real>
				<key>StationID</key>
				<string>CC26</string>
				<key>StationName</key>
				<string>Pasir Panjang</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.272267</real>
				<key>Long</key>
				<real>103.802908</real>
				<key>StationID</key>
				<string>CC27</string>
				<key>StationName</key>
				<string>Labrador Park</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.270572</real>
				<key>Long</key>
				<real>103.809678</real>
				<key>StationID</key>
				<string>CC28</string>
				<key>StationName</key>
				<string>Telok Blangah</string>
			</dict>
			<dict>
				<key>Lat</key>
				<real>1.265297</real>
				<key>Long</key>
				<real>103.82225</real>
				<key>StationID</key>
				<string>CC29</string>
				<key>StationName</key>
				<string>HarbourFront</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
